/* google font link  */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap");

/* common  */
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
header {
  background-image: url("../images/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.navbar-light .navbar-toggler-icon {
  background-color: #fff;
}
.menu-bar {
  background-color: rgba(0, 0, 0, 0.6);
}
header .navbar {
  padding: 0;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-weight: 500;
  margin-left: 10px;
  position: relative;
  padding: 40px 0;
  margin-left: 14px;
  margin-right: 14px;
  display: inline-block;
}
header .navbar-light .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 0%;
  background-color: #f39c12;
  transition: 0.4s all ease-in-out;
}
header .navbar-light .navbar-nav .nav-link:hover::after {
  width: 100%;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #f39c12;
}
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: rgb(30, 33, 37);
  background-color: transparent;
}
.dropdown-menu {
  border: none;
  border-radius: 0;
  padding: 0;
  width: 250px;
}
.dropdown-menu[data-bs-popper] {
  left: 80%;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input {
  outline: none;
  background-color: transparent;
}
.search input::placeholder {
  color: #b9b9b9;
}
.search-btn {
  border: none;
  width: 50px;
  height: 40px;
  background-color: #f39c12;
  color: #fff;
  font-size: 18px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.height {
  min-height: 91vh;
}
.height h2 {
  color: #f39c12;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 300;
}
.height h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 600;
}
.button {
  text-align: center;
  margin-top: 80px;
}
.started {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  transition: 0.4s all ease-in-out;
}
.started:hover,
.portfolio:hover {
  background-color: #f39c12;
  color: #fff;
  border: 2px solid #f39c12;
}
.portfolio {
  background-color: #f39c12;
  color: #fff;
  border: 2px solid #f39c12;
  text-decoration: none;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}
header .owl-stage {
  min-height: 86vh;
  display: flex;
  align-items: center;
}
header .owl-nav .owl-prev i {
  color: #fff;
  font-size: 25px;
  background-color: #212121;
  width: 40px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translateY(-50%);
}
header .owl-nav .owl-next i {
  color: #fff;
  font-size: 30px;
  background-color: #212121;
  width: 40px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translateY(-50%);
}
/* about start  */
.about {
  padding-top: 70px;
}
.about .container-fluid {
  padding-left: 0;
}
.about img {
  height: 90%;
}
.about-right-col {
  width: 90%;
}
.about-me {
  padding-bottom: 100px;
}
.title-part h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  color: #3b3b3b;
}
.title-part span {
  display: block;
  width: 70%;
  height: 1px;
  background-color: #f39c12;
  position: relative;
  margin: auto;
}
.title-part span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 5px;
  background-color: #f39c12;
}
.about:hover .title-part span::after,
.services:hover .title-part span::after,
.statistic:hover .title-part span::after,
.work:hover .title-part span::after,
.recent-story:hover .title-part span::after,
.life-story:hover .title-part span::after,
.tweet:hover .title-part span::after,
.get-in-touch:hover .title-part span::after,
.follow:hover .title-part span::after,
.feedback:hover .title-part span::after {
  animation: slide-arrow 2s linear infinite alternate;
}
@keyframes slide-arrow {
  0% {
    left: 3%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 97%;
  }
}
.about-me p {
  margin-top: 50px;
  font-size: 16px;
}
.progress-area {
  margin-bottom: 20px;
}
.progress-bar-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progress-area:last-child {
  margin-bottom: 0px;
}
.progress-area h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.progress {
  height: 0.85rem;
  border-radius: 0;
  width: 88%;
}
.progress-bar-area .progress-bar {
  background-color: #f39c12;
}
.progress-bar-area h3 {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 65px;
  height: 38px;
  background-color: #f39c12;
  margin: 0;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
.progress-bar-area h3::after {
  content: "";
  position: absolute;
  top: 27%;
  left: -5px;
  transform: rotate(45deg);
  width: 14px;
  height: 14px;
  background-color: #f39c12;
}
/* services start  */
.services,
.work {
  padding-top: 70px;
  padding-bottom: 50px;
}
.services .title-part span,
.statistic .title-part span,
.work .title-part span,
.recent-story .title-part span,
.feedback .title-part span,
.tweet .title-part span,
.get-in-touch .title-part span,
.follow .title-part span {
  width: 50%;
}
.service {
  border: 1px solid #f0f0f0;
  padding: 25px 20px;
  transition: 0.4s all ease-in-out;
  position: relative;
  height: 100%;
}
.service::after {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  border: 3em solid transparent;
  border-right-color: #fff;
  transform: rotate(45deg);
  transition: 0.4s all ease-in-out;
  opacity: 0;
}
.corner-style {
  position: relative;
}
.corner-style::after {
  content: "";
  position: absolute;
  top: -25px;
  left: -21px;
  width: 3px;
  height: 20px;
  background-color: #f39c12;
  z-index: 99;
  opacity: 0;
  transition: 0.4s all ease-in-out;
}
.corner-style::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -21px;
  width: 20px;
  height: 3px;
  background-color: #f39c12;
  z-index: 99;
  opacity: 0;
  transition: 0.4s all ease-in-out;
}
.service:hover .corner-style::before {
  opacity: 1;
}
.service:hover .corner-style::after {
  opacity: 1;
}
.service:hover::after {
  /* background-color: #fff; */
  opacity: 1;
}
.service:hover {
  background-color: #f39c12;
  border: 1px solid #f7b958;
}
.service:hover i {
  color: #f39c12;
  background-color: #fff;
}
.service:hover h2 {
  color: #fff;
}
.service:hover p {
  color: #fff;
}
.service i {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: #919190;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 16px;
  transition: 0.4s all ease-in-out;
}
.service h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
  font-weight: 600;
  color: #6f6f6f;
  transition: 0.4s all ease-in-out;
}
.service p {
  color: #6d6d6d;
  font-size: 16px;
  margin: 0;
  transition: 0.4s all ease-in-out;
}
/* statistic start  */
.statistic {
  background-image: url("../images/statistic-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px;
  position: relative;
  z-index: 0;
}
.statistic::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.statistic-info {
  transition: 0.4s all ease-in-out;
}
.statistic-info:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.statistic h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 20px;
  margin-bottom: 0;
}
.statistic i {
  color: #f39c12;
  background-color: #fff;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 21px;
}
.statistic h5 {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  padding-top: 20px;
}
.line {
  position: relative;
  z-index: 0;
}
.line::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 3px;
  background-color: #fff;
  z-index: -1;
  transition: 0.4s all ease-in-out;
}
.statistic:hover .line::after {
  width: 65%;
}
/* work start  */
.work ul {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.work ul li button {
  font-weight: 500;
  margin-right: 15px;
  padding: 10px 15px;
  border-radius: 0;
  transition: 0.4s all ease-in-out;
}
.work ul li button:hover {
  color: #fff;
  background-color: #f39c12;
}
.work ul li button:focus {
  color: #fff;
  background-color: #f39c12;
  border: none;
  box-shadow: none;
}
.mix-cont-box {
  position: relative;
  height: 100%;
  width: 100%;
}
.mix-cont-box img {
  height: 100%;
  width: 100%;
}
.mix-cont-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #23232369;
  transition: 0.4s all ease-in-out;
}
.mix-cont-box:hover::after {
  height: 100%;
}
.img-text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  z-index: 99;
  width: 100%;
  background-color: #232323;
  padding: 15px 0;
  opacity: 0;
  transition: 0.4s all ease-in-out;
}
.mix-cont-box:hover .img-text {
  opacity: 1;
}
.img-text h6 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 3px;
}
.img-text p {
  color: #a4a3a3;
  font-size: 14px;
  margin: 0;
  margin-left: 20px;
  font-weight: 600;
}
.icon {
  position: absolute;
  top: 0px;
  right: 0px;
  transition: 0.4s all ease-in-out;
  opacity: 0;
  z-index: 99;
}
.icon i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f39c12;
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mix-cont-box:hover .icon {
  top: 10px;
  right: 10px;
  opacity: 1;
}
/* recent stroy start  */
.recent-story,
.feedback {
  padding: 70px 0;
}
.recent-story-text {
  border: 1px solid #ebebeb;
  padding: 20px;
  height: 100%;
}
.recent-story-text p {
  color: #858282;
  font-size: 14px;
}
.recent-story-text h6 {
  color: #f39c12;
  font-size: 18px;
  font-weight: 600;
}
.recent-story-text a {
  background-color: #aaaaaa;
  color: #fff;
  border-radius: 0;
  font-weight: 500;
  font-size: 16px;
  transition: 0.4s all ease-in-out;
}
.recent-story-text a:hover {
  background-color: #282828;
  color: #fff;
}
.recent-story-img {
  border: 1px solid #ebebeb;
}
.recent-story .owl-theme .owl-nav.disabled + .owl-dots,
.feedback .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 40px;
}
.recent-story .owl-theme .owl-dots .owl-dot span,
.feedback .owl-theme .owl-dots .owl-dot span {
  background: #b7b7b7;
}
.recent-story .owl-theme .owl-dots .owl-dot.active span,
.recent-story .owl-theme .owl-dots .owl-dot:hover span,
.feedback .owl-theme .owl-dots .owl-dot.active span,
.feedback .owl-theme .owl-dots .owl-dot:hover span {
  background: #414141;
}
/* life story start  */
.life-story {
  padding: 30px 0;
  background-color: #262626;
}
.life-story-title p {
  color: #c7c7c7;
  margin-top: 40px;
  font-size: 14px;
}
.life-story-title span {
  width: 45%;
  margin: 0;
}
.feedback .owl-carousel .owl-item img {
  width: auto;
  margin-right: 15px;
}
.feedback-text {
  padding: 25px 20px;
  background-color: #f6f6f6;
}
.feedback-text h6 {
  font-size: 16px;
  font-weight: 500;
  color: #696868;
  margin-bottom: 10px;
}
.feedback-text p {
  color: #838282;
  font-size: 14px;
  margin-bottom: 0;
  font-style: italic;
}
.feedback-img-cont {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 40px;
}
.client-info h6 {
  color: #f39c12;
  font-size: 16px;
  font-weight: 600;
}
.client-info p {
  font-size: 14px;
  margin-bottom: 0;
  font-style: italic;
  color: #696868;
}
/* tweet start  */
.tweet {
  background-image: url("../images/tweet-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding: 70px 0;
  position: relative;
  z-index: 0;
}
.tweet::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.4s all ease-in-out;
  z-index: -1;
}
.tweet p {
  color: #fff;
  margin-top: 40px;
  margin-bottom: 0;
}
.color-chng {
  transition: 0.4s all ease-in-out;
}
.tweet:hover .color-chng {
  color: #f39c12;
}
/* get in touch start  */
.get-in-touch {
  padding: 70px 0;
}
.get-in-touch .title-part p {
  margin-top: 30px;
  margin-bottom: 40px;
}
.get-in-touch form label {
  display: block;
}
.get-in-touch form input,
.get-in-touch form textarea {
  width: 100%;
}
/* map start  */
.map {
  position: relative;
}
.map-text {
  padding: 25px 20px;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  background-color: #f39d12bd;
  transition: 0.4s all ease-in-out;
}
.map-text:hover {
  background-color: #f39d12e0;
}
.map-text span {
  font-weight: 600;
  font-size: 16px;
}
.map-text p {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
/* follow start  */
.follow {
  padding: 70px 0;
}
.follow ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 50px 0;
}
.follow ul li {
  margin-right: 30px;
}
.follow ul li:last-child {
  margin-right: 0px;
}
.follow ul li a {
  text-decoration: none;
}
.follow ul li a i {
  width: 40px;
  height: 40px;
  color: #f39c12;
  border: 1px solid #ebebeb;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s all ease-in-out;
}
.follow ul li a i:hover {
  color: #fff;
  background-color: #f39c12;
}

/* footer start */
footer {
  background-color: #f39c12;
  padding: 30px;
}
footer p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #505050;
}
footer p span {
  color: #fff;
}
