/* google font link  */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap");

/* common  */
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
header {
  background-image: url("../images/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.navbar-light .navbar-toggler-icon {
  background-color: #fff;
}
.menu-bar {
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-weight: 500;
  margin-left: 10px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #f39c12;
}
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: rgb(30, 33, 37);
  background-color: transparent;
}
.dropdown-menu {
  border: none;
  border-radius: 0;
  padding: 0;
  width: 250px;
}
.dropdown-menu[data-bs-popper] {
  left: 80%;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input {
  outline: none;
  background-color: transparent;
}
.search input::placeholder {
  color: #b9b9b9;
}
.search-btn {
  border: none;
  width: 50px;
  height: 40px;
  background-color: #f39c12;
  color: #fff;
  font-size: 18px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.height {
  min-height: 91vh;
}
.height h2 {
  color: #f39c12;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 300;
}
.height h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 600;
}
.button {
  text-align: center;
  margin-top: 80px;
}
.started {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  transition: 0.4s all ease-in-out;
}
.started:hover,
.portfolio:hover {
  background-color: #f39c12;
  color: #fff;
  border: 2px solid #f39c12;
}
.portfolio {
  background-color: #f39c12;
  color: #fff;
  border: 2px solid #f39c12;
  text-decoration: none;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}
header .owl-stage {
  min-height: 86vh;
  display: flex;
  align-items: center;
}
header .owl-nav .owl-prev i {
  color: #fff;
  font-size: 25px;
  background-color: #212121;
  width: 40px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translateY(-50%);
}
header .owl-nav .owl-next i {
  color: #fff;
  font-size: 30px;
  background-color: #212121;
  width: 40px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translateY(-50%);
}
/* about start  */
.about {
  padding: 70px 0;
}
.about .container-fluid {
  padding-left: 0;
}
.about img {
  height: 90%;
}
.about-right-col {
  width: 90%;
}
.about-me {
  padding-bottom: 100px;
}
.about-me h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
.about-me span {
  display: block;
  width: 80%;
  height: 1px;
  background-color: #f39c12;
  position: relative;
  margin: auto;
}
.about-me span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 5px;
  background-color: #f39c12;
}
.about-me p {
  margin-top: 50px;
  font-size: 16px;
}
.progress-area {
  margin-bottom: 20px;
}
.progress-bar-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progress-area:last-child {
  margin-bottom: 0px;
}
.progress-area h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.progress {
  height: 0.85rem;
  border-radius: 0;
  width: 88%;
}
.progress-bar-area .progress-bar {
  background-color: #f39c12;
}
.progress-bar-area h3 {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 65px;
  height: 38px;
  background-color: #f39c12;
  margin: 0;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
.progress-bar-area h3::after {
  content: "";
  position: absolute;
  top: 27%;
  left: -5px;
  transform: rotate(45deg);
  width: 14px;
  height: 14px;
  background-color: #f39c12;
}
